html {
  height: 100%;
  background-color: $mainWhite;
  color: $mainBlack;

  ::-webkit-scrollbar-track {
    background-color: #fafafa;
  }

  ::-webkit-scrollbar {
    width: 5px;
    background-color: #f5f5f5;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #a09b9b;
  }
}

body {
  height: 100%;
  margin: 0;
}

#__next {
  height: 100%;

  ::selection {
    background: rgba(130, 195, 245, 0.99);
    color: #032764;
  }
}
